.projectcontainer {
    display: grid;
    grid-template-columns: 0.40fr 1fr;
    grid-template-areas: 
        "info details";
    gap: 10rem;
    margin: 2rem 2rem;
}

.projectcontainer h1, h2 {
    margin: 0;
}

.projectinfo {
    grid-area: details;
}

.projectinfo picture {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.projectinfo img {
    max-width: 100%;
    max-height: 100%;
}

.projectinfo p {
    font-size: 1.2rem;
}

.informationbox {
    grid-area: info;
}

@media (max-width: 768px) {
    .projectcontainer {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "details"
            "info";
        gap: 2rem;
    }
}
